<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
    <h2 class="card-title text-center mb-4">Login</h2>

    <form (ngSubmit)="login()" #loginForm="ngForm">

      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required class="form-control"
          placeholder="Enter your email" />
      </div>

      <!-- Password with toggle -->
      <div class="mb-3 position-relative">
        <label for="password" class="form-label">Password</label>
        <input [type]="showPassword ? 'text' : 'password'" id="password" name="password" [(ngModel)]="password" required
          class="form-control" placeholder="Enter your password" />
        <button type="button" class="btn bg-transparent border-0 btn-sm position-absolute bottom-0 end-0 py-2"
          (click)="togglePassword()">
          <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </button>
      </div>

      <!-- Submit -->
      <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary w-100">
        Login
      </button>

      <p class="text-center mt-3">
        Don't have an account?
        <a routerLink="/register">Register</a>
      </p>
    </form>
  </div>
</div>